body{
    color: #2D3748;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"SegoeUI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif;

}
h1,h2,h3{
    margin: 0;
}
/***********GRID LAYOUT**************/
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "header header"
    "article sidebar"
    "footer footer"
    ;
}

/***********HEADER SECTION***********/
header{
    grid-area: header;

    background-color: #63B3ED;
    color: #FFFFFF;
}
header h1{
    font-size: 36px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}
header img{
    width: 180px;
    border-radius: 50%;
}

/***********POSTS SECTION***********/
article h2{
    grid-area: article;

    font-size: 32px;
    color: #48BB78;
}

article h3{
    color: #718096;
}
article img{
    width: 180px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

/***********SIDEBAR SECTION***********/
aside div{
    grid-area: sidebar;

    padding: 15px;
}

#Social h3, #Archive h3{
    font-family: Georgia,'Times New Roman', Times, serif;
    color: #48BB78;
}
#Social ul, #Archive ul{
    list-style-type: none;
    padding: 0;
}
#Social a, #Archive a{
    text-decoration: none;
    color: #4299E1;
}

#About{
    background-color: #E2E8F0;
}
#About h3{
    color: #000000;
    font-family: Georgia,'Times New Roman', Times, serif
}

/***********FOOTER SECTION***********/
footer{
    grid-area: footer;

    background-color: #2C5282;
    color: #FFFFFF;
}


